body,
.container {
    width: 1366px;
    padding: 0;
    margin: 0;
    font-family: 'Mada', sans-serif;
}

body {
    line-height: normal;
}

.container {
    width: 1366px;
    display: grid;
    grid-template-areas:
        "landing_section"
        "steps_section"
        "faq"
        "footer";
    background-image: url('../assets/background.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.landing_section {
    grid-area: landing_section;
    background-image: url('../assets/video_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1366px;
    height: 768px;
}

.video_overlay {
    background-image: url('../assets/video_overlay.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.99;
    width: 1366px;
    height: 768px;
}

.logo1 {
    font-family: 'Mada', sans-serif;
    left: 48px;
    top: 32px;
    padding: 0;
    color: #28b45d;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 21px;
}

.logo2 {
    font-family: 'Mada', sans-serif;
    display: inline-block;
    color: #f9f9f9;
    font-weight: normal;
    letter-spacing: 1px;
}

.headline {
    width: 565.16px;
    height: 483px;
    position: absolute;
    left: 119px;
    top: 124px;
    padding: 0;
    color: rgba(255, 255, 255, 0.20);
    text-transform: uppercase;
    font-size: 114.25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 1;
}

.subtitle,
.step_1,
.step_2 {
    position: absolute;
    left: 843px;
    top: 180px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    width: 136.3px;
    color: rgba(255, 255, 255, 0.60);
    letter-spacing: 1px;
}

.step_1,
.step_2 {
    left: 1125px;
    top: 183px;
    font-size: 25.38px;
    width: 15.5px;
}

.step_2 {
    left: 1169px;
}

.divider {
    position: absolute;
    left: 1153px;
    top: 185px;
}

.here {
    display: inline-block;
    color: #28b45d;
    cursor: pointer;
}

.first_step input,
.modal_section input {
    background-color: #f9f9f930;
    border: none;
    outline: none;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
}

.modal_section input {
    background-color: #9d9d9d30;
}

.first_step input::placeholder,
.modal_section input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    letter-spacing: 1px;
}

.modal_section input::placeholder {
    color: #9d9d9d;
}

.first_step span,
.modal_section span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.60);
}

.first_step img,
.first_step span,
.modal_section img,
.modal_section span,
#checkbox,
.privacy,
.button,
#data_icon,
.data_protected,
.more_info,
.more_info div,
#x_icon,
#video {
    position: absolute;
}

#first_name,
#last_name,
#email,
#email2,
#phone {
    position: absolute;
    left: 843.12px;
    top: 253.12px;
    width: 159.09px;
    height: 51.18px;
    padding-left: 45px;
}

#user_icon {
    left: 860px;
    top: 268px;
}

#last_name {
    left: 1013.12px;
    width: 179.09px;
}

#user_icon2 {
    left: 1030px;
    top: 268px;
}

#email,
#email2,
#phone {
    left: 842.78px;
    top: 316.12px;
    width: 349.09px;
}

#email_icon {
    left: 860px;
    top: 334px;
}

.email {
    left: 992px;
    top: 332px;
    letter-spacing: 1px;
}

#phone {
    top: 379.12px;
    padding-left: 149px;
}

#flag_icon {
    left: 853px;
    top: 391.5px;
}

.phone_number .prefix {
    left: 905px;
}

#arrow_icon {
    left: 949.5px;
    top: 400.3px;
}

#divider_icon {
    left: 976px;
    top: 386px;
}

.phone_number .prefix {
    top: 395px;
}

#checkbox {
    left: 860px;
    top: 385px;
    width: 16px;
    height: 16px;
}

.privacy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    left: 882px;
    top: 386px;
    color: rgba(255, 255, 255, 0.70);
    width: 296px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.privacy div {
    display: inline-block;
    color: #28b45d;
    letter-spacing: 0.5px;
}

.button {
    left: 842.12px;
    top: 448px;
    width: 349.34px;
    height: 62.59px;
    background-color: #28b45d;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-desc {
    display: inline-block;
    position: absolute;
    left: 910px;
    top: 467px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

#data_icon {
    left: 905px;
    top: 530px;
}

.data_protected {
    left: 913px;
    top: 529px;
    width: 218.95px;
    height: 43px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 15px;
    color: #9d9d9d;
}

.data_protected div {
    color: #28b45d;
    cursor: pointer;
}

.more_info {
    display: none;
    left: 906px;
    top: 576px;
    width: 233px;
    height: 127px;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    background-color: black;
    color: #dfdddd;
    line-height: 15px;
    letter-spacing: 0.5px;
}

.more_info div {
    left: 14px;
    top: 18px;
    width: 202.6px;
}

/*section one -- modal --*/
#x_icon {
    left: 1218px;
    top: 42px;
    cursor: pointer;
}

#video {
    left: 145px;
    top: 42px;
    width: 1047px;
    height: 560px;
}

.modal_section #first_name,
.modal_section #last_name,
.modal_section #email2 {
    left: 468.78px;
    top: 617.56px;
    width: 205.15px;
    height: 47.65px;
    padding-left: 61.2px;
}

.modal_section #last_name {
    left: 683.78px;
}

.modal_section #email2 {
    top: 676.56px;
    width: 420.15px;
}

.modal_section #user_icon,
.modal_section #user_icon2,
.modal_section #email_icon {
    left: 486px;
    top: 632px;
    color: #9d9d9d;
}

.modal_section #user_icon2 {
    left: 701px;
}

.modal_section #email_icon {
    top: 693px;
}

.modal_section .email {
    left: 653px;
    top: 691px;
}

.modal_headline {
    position: absolute;
    left: 220px;
    top: 644px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    color: #9d9d9d;
}

.modal_headline div {
    font-size: 26px;
    font-weight: bold;
    color: #28b45d;
}

.modal_section .button {
    left: 900.62px;
    top: 617.56px;
    width: 244.34px;
    height: 106.65px;
}

.modal_section .button-desc {
    left: 918px;
    top: 660px;
    font-size: 20px;
    letter-spacing: 0;
}

#arrow_icon2 {
    left: 1117px;
    top: 662px;
    cursor: pointer;
}

/*section two*/
.steps_section {
    grid-area: steps_section;
    width: 1366px;
    height: 1136px;
}

.title div:nth-child(1) {
    left: 493px;
    top: 860px;
    width: 378px;
    font-size: 42px;
    color: #28b45d;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.title div:nth-child(2) {
    left: 317px;
    top: 924px;
    width: 730.98px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 23px;
    color: #9d9d9d;
}

.register div:nth-child(1),
.register div:nth-child(2),
.account div:nth-child(1),
.account div:nth-child(2),
.advice div:nth-child(1),
.advice div:nth-child(2) {
    left: 267px;
    top: 1117px;
    font-size: 36px;
    font-weight: bold;
    color: #a09f9f;
    transition: 0.1s ease;
}

.register div:nth-child(2),
.account div:nth-child(2),
.advice div:nth-child(2) {
    left: 209px;
    top: 1513px;
    font-size: 30px;
    text-transform: uppercase;
}

.register div:nth-child(3),
.account div:nth-child(3),
.advice div:nth-child(3) {
    left: 128px;
    top: 1561px;
    width: 295px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 23px;
    color: #9d9d9d;
}

.account div:nth-child(1) {
    left: 674px;
}

.account div:nth-child(2) {
    left: 539px;
}

.account div:nth-child(3) {
    left: 536px;
}

.advice div:nth-child(1) {
    left: 1083px;
}

.advice div:nth-child(2) {
    left: 985px;
    text-align: center;
}

.advice div:nth-child(3) {
    left: 944px;
}

#img_register,
#img_account,
#img_advice {
    left: 135.5px;
    top: 1319px;
    background-image: url('../assets/placeholder.png');
    transition: 0.25s ease;
    width: 282px;
    height: 164px;
}

#icon_register {
    left: 154px;
    top: 1164px;
    background-image: url('../assets/leadbox.png');
    transition: 0.2s ease;
    width: 245px;
    height: 289px;
    cursor: pointer;
}

#img_account {
    left: 543px;
}

#icon_account {
    left: 561px;
    top: 1231px;
    background-image: url('../assets/credit_card.png');
    transition: 0.2s ease;
    width: 246px;
    height: 203px;
    cursor: pointer;
}

#img_advice {
    left: 950px;
}

#icon_advice {
    left: 974px;
    top: 1130px;
    background-image: url('../assets/photo.png');
    transition: 0.2s ease;
    width: 246px;
    height: 353px;
    cursor: pointer;
}

.steps_section .button {
    left: 509.87px;
    top: 1702.21px;
    width: 345.9px;
    height: 75.78px;
}

.steps_section .button-desc {
    left: 593px;
    top: 1725px;
    font-size: 27px;
}

/*section 3 --FAQ--*/
.faq {
    grid-area: faq;
    width: 1366px;
    height: 768px;
    background-color: #28b45d;
}

.faq_title {
    left: 289px;
    top: 1960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24.45px;
    letter-spacing: 2px;
    color: #f9f9f9;
    text-align: center;
}

.question1,
.question2 {
    margin-left: 223px;
    margin-top: 173px;
}

.question2 {
    margin-top: 35px;
}

.icon {
    display: inline-block;
    width: 37px;
    height: 37px;
    border: white solid 1px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.question1 .icon {
    font-size: 19px;
    position: relative;
}

.icon span {
    position: absolute;
    transition: 0.5s;
    background: #28b45d;
}

.icon span:first-of-type {
    top: 17px;
    bottom: 17px;
    width: 2.5px;
    left: 17px;
}

.icon span:last-of-type {
    left: 8px;
    right: 8px;
    height: 2.5px;
    top: 16px;
}

.rotate {
    transform: rotate(90deg);
}

.icon img {
    position: relative;
    left: 8px;
    top: 7px;
    width: 19px;
    height: 19px;
}

.question_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #f9f9f9;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 28.22px;
    width: 699px;
}

.question_title {
    display: inline-block;
    position: relative;
    left: 11px;
    top: 10.5px;
}

.question1 .question_title {
    top: -10.5px;
}

.answer {
    width: 853.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
    text-align: left;
    color: #f9f9f9;
    margin: 0 0 0 62px;
}

/*section --Features--*/
.features_title {
    left: 556px;
    top: 1918px;
    width: 251px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    color: #28b45d;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}

.fast_block,
.education_block,
.loophole_block,
.profit_block {
    left: 142px;
    top: 2110px;
    width: 496px;
    height: 187px;
    border: none;
    border-radius: 10px;
    background-color: #a09f9f;
    letter-spacing: 1px;
    color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fast_block:hover,
.education_block:hover,
.loophole_block:hover,
.profit_block:hover {
    transform: scale(1.052, 1.055);
    background-color: #28b45d;
}

.education_block,
.profit_block {
    left: 730px;
}

.loophole_block,
.profit_block {
    top: 2365px;
}

.info1 {
    position: relative;
    left: 125px;
    top: -48px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.info2 {
    position: relative;
    left: 127px;
    top: -35.6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17.07px;
    width: 314.14px;
    line-height: 26.45px;
}

.fast_icon {
    position: relative;
    left: 40px;
    top: 48px;
}

.icon1 {
    left: 29px;
    top: 49px;
}

.icon2 {
    left: 29px;
    top: 56px;
}

.icon3 {
    left: 35px;
    top: 52px;
}

/*section --Footer--*/
.footer {
    grid-area: footer;
    width: 1366px;
    height: 304px;
    background-image: url('../assets/footer.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer .logo1 {
    left: 595px;
    top: 2713px;
}

.note {
    left: 145px;
    top: 2782px;
    width: 1058px;
    height: 86.19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    color: #f9f9f970;
    line-height: 18px;
}

.note span {
    text-transform: capitalize;
    font-weight: bold;
    color: #f9f9f980;
}

.links {
    top: 2921px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    color: #f9f9f970;
    cursor: pointer;
}

.dots {
    top: 2921px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #f9f9f970;
}

.dot1 {
    left: 465px;
}

.dot2 {
    left: 603px;
}

.dot3 {
    left: 774px;
}

.dot4 {
    left: 917px;
}

.link1 {
    left: 333px;
}

.link2 {
    left: 489px;
}

.link3 {
    left: 619px;
}

.link4 {
    left: 792px;
}

.link5 {
    left: 949px;
}

/*classes for adding with jQuery*/
.hide {
    display: none;
}

.button_next_step {
    left: 843.12px;
    top: 477px;
    width: 348.34px;
}